{% extends "base.html" %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'competition/competition_detail.css' %}">
{% endblock %}

{% block content %}
<div class="detail">
    <h2>{{ competition.name }} Details</h2>
    <p>Location: {{ competition.location }}</p>
    <p>Date: {{ competition.date }}</p>
    <p>Finished: {{ competition.finished|yesno:"Yes,No" }}</p>
    <h3>Categories:</h3>
    <ul>
        {% for category in categories %}
        <li>{{ category.weight_class }}</li>
        {% empty %}
        <li>No categories added yet.</li>
        {% endfor %}
    </ul>
    <h3>Matches:</h3>
    {% if matches %}
    <ul>
        {% for match in matches %}
        <li>{{ match.player1 }} vs {{ match.player2 }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No matches added yet.</p>
    {% endif %}
    <a href="{% url 'matches-list' %}" class="edit-button">View All Matches</a>
</div>


{% endblock %}