body, html {
    margin: 0;
    /* padding: 0; */
    font-family: "Inter", sans-serif; /* Змінюємо шрифт на Inter для всього сайту */
    height: 100vh;
    background: #f4f4f462; /* Світлий фон для всього сайту */
}

.main-page {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff49; /* Білий фон для основного контенту */
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Додавання тіні для "підняття" блоку */
    overflow: hidden;
}

.content {
    position: absolute;
    top: 15%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem; /* Зменшуємо розмір тексту */
    color: #333;
    padding: 20px; /* Додавання відступів */
    background: #ffffff; /* Білий фон для контенту */
    border-radius: 8px; /* Закруглені кути */
    box-shadow: 0 0 20px rgba(0,0,0,0.05); /* Легка тінь для контенту */
    width: 75%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start; /* Вирівнювання елементів до початку */
    position: absolute;
    top: 0;
    left: 0;
    width: 15%; /* Збільшуємо ширину бокової панелі */
    height: 100%;
    background-color: #2c3e50; /* Темно-синій для бокової панелі */
    padding-top: 20px; /* Відступ зверху */
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Вирівнювання елементів до початку */
    align-items: stretch; /* Розтягування елементів на всю доступну ширину */
    position: absolute;
    top: 0;
    left: 0;
    width: 15%; /* Збільшуємо ширину бокової панелі */
    height: 100%;
    background-color: #2c3e50; /* Темно-синій для бокової панелі */
    padding-top: 20px; /* Відступ зверху */
}

.sidebar-element {
    flex-grow: 1; /* Елементи розтягуються на всю доступну висоту */
    margin: 10px; /* Додавання зовнішніх відступів */
    background-color: #34495e; /* Темно-сірий фон для елементів */
    border-radius: 4px; /* Закруглені кути */
    display: flex; /* Включаємо flex для центрування кнопки всередині */
    align-items: center; /* Центрування кнопки по вертикалі */
    justify-content: center; /* Центрування кнопки по горизонталі */
}

.button {
    width: 90%; /* Ширина кнопки */
    padding: 10px 0; /* Відступи для тексту всередині кнопки */
    font-size: 1rem; /* Розмір шрифту для кнопки */
    background-color: #16a085; /* Зелений колір для кнопок */
    color: #ffffff; /* Білий текст */
    border-radius: 25px; /* Сильно закруглені кути */
    transition: background-color 0.3s ease; /* Анімація фону кнопки */
    text-align: center; /* Вирівнювання тексту по центру */
    text-decoration: none; /* Видалення підкреслення */
}


.button:hover {
    background-color: #1abc9c; /* Зміна кольору при наведенні */
    text-decoration: none; /* Видалення підкреслення при наведенні */
}


.main-title {
    text-align: center; /* Вирівнювання заголовку по центру */
    color: #2c3e50; /* Колір заголовку */
    margin-bottom: 20px; /* Відступ знизу */
}

.main-text {
    text-align: justify; /* Вирівнювання тексту по ширині */
    padding: 0 20px; /* Відступи з обох сторін */
    line-height: 1.6; /* Висота лінії тексту */
    color: #333; /* Колір тексту */
}