
/* CSS to style the header and button container */


.competition {
    margin: 1.5%;
    padding: 4%;
    border-radius: 20px;
    height: 10%;
    text-align: center;
}


.add-competition {
    /* Set the path to your image using the url() function */
    background-image: url('images/add-button.png');
    mix-blend-mode: multiply;
    width: 20px;
    height: 40px;
    /* Set the background size and other styles as needed */
    background-size: cover; /* You can adjust this to your desired size */
    padding: 10px 20px; /* Add padding to create button-like dimensions */
    color: #fff; /* Set text color for better visibility */
    text-align: center; /* Center the text within the button */
    text-decoration: none; /* Remove underline */
    display: block; /* Make the link a block-level element to occupy the entire width */
    border-radius: 5px; /* Add rounded corners for a button-like appearance */
    cursor: pointer; /* Change cursor on hover to indicate interactivity */
}

.add-competition:hover {
    /* Define styles for when the button is hovered */
    background-color: #0056b3; /* Change background color on hover */
}
